@model IEnumerable<MvcTrains.Models.Train>

@{
    ViewData["Title"] = "Trains";
}

<h1>Trains</h1>

<p>
    <a asp-action="Create">Create New train</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stops)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WifiPassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>